

.input {
    width: 100%;
    border: 1px solid #C9CACC;
    border-radius: 4px;
    padding: 15px;
    margin-top: 7px;
    font-size: 16px;
    line-height: 19px;
    color: #424242;
}
::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.label {
    color: #424242;
    font-size: 16px;
    line-height: 19px;
}

